@font-face {
    font-family: "Art Nouveau";
    src: url('../fonts/art-nouveau.ttf');
}
@font-face {
    font-family: "Louis George Cafe Light Italic";
    src: url('../fonts/Louis\ George\ Cafe\ Light\ Italic.ttf');
}
.player {
    width: 100%;
    height: 10%;
    background-image: linear-gradient(140deg, #282828 0%, #bc7070 50%, #747b4a00 75%);
    border: none;
    padding: 0px 0px 0px 18px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player:hover {
    -webkit-filter: drop-shadow(10px 10px 10px #747b4a);
    filter: drop-shadow(10px 2px 10px #ffffff);
}
.player audio {
    width: 100%;
    border-radius: 6px;
    margin: 0;
    padding: 10;
    border: none;
}
.moveable {
    cursor: url('../images/Cursor-antoni-gaudi-default.png'), auto;
} 
.moveable.moving {
    cursor: url('../images/Cursor-antoni-gaudi-clic.png'), auto;
}
#image1.pass {
    cursor: url('../images/Cursor-antoni-gaudi-lupa.png'), auto;
}
#image1.moving {
    cursor: url('../images/Cursor-antoni-gaudi-clic.png'), auto;
}
#image2.pass {
    cursor: url('../images/Cursor-antoni-gaudi-lupa.png'), auto;
}
#image2.moving {
    cursor: url('../images/Cursor-antoni-gaudi-clic.png'), auto;
}
body {
    background-color: aliceblue;
    background-image: linear-gradient(140deg, #EADEDB 0%, #bc7070 50%, #747b4a 75%);
    background-size: contain;
}
.video {
    width: 100%;
    height: 80%;
    border-radius: 20px;
}
.clear {
    clear: both;
}
hr {
    border-radius: 20px;
    width: 100%;
    height: 10px;
    background-color: white;
}
.nav {
    list-style-type: none;
    margin: 10px 10px 10px 10px;
    padding: 0;
    overflow: hidden;
    font-family: 'Art Nouveau';
    font-size: large;
    background-image: linear-gradient(140deg, #282828 0%, #bc7070 50%, #747b4a00 75%);
    border-radius: 100px;
}
.navBoton {
    float: left
}
.navBoton a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navBoton a:hover {
    background-color: #111111a2;
}
body::-webkit-scrollbar {
    width: 12px;               
    
} 
body::-webkit-scrollbar-track {
    background-image: linear-gradient(140deg, #949494 0%, #252525 50%, #000000 75%);
}
 
body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(140deg, #EADEDB 0%, #bc7070 50%, #747b4a 75%);
    border-radius: 20px;
    border: 2px solid rgb(88, 87, 87);
}
h1 {
    font-family: 'Art Nouveau';
}
h2 {
    font-family: 'Art Nouveau';
}
h3 {
    font-family: 'Louis George Cafe Light Italic';
    font-style: italic;
    text-align: left;
}
.text { 
    font-family: 'Louis George Cafe Light Italic';
    font-size: 23px;
    text-align: justify;
    padding: 20;
}
.imageRightUp {
    width: 300px;
    border-radius: 20px;
    float: left;
    margin: 0px 10px 10px 0px;
    transition: transform .3s;
}
.imageRightUp:hover {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    -webkit-transform:scale(1.3);transform:scale(1.5);
    transform-origin: left;
}
.imageRight {
    width: 300px;
    border-radius: 20px;
    float: left;
    margin: 0px 10px 10px 0px;
    transition: transform .3s;
}
.imageRight:hover {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    -webkit-transform:scale(1.3);transform:scale(2.5);
    transform-origin: left;
}
.imageLeft {
    width: 300px;
    border-radius: 20px;
    float: right;
    margin: 0px 0px 10px 10px;
    transition: transform .3s;
}
.imageLeft:hover {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    -webkit-transform:scale(1.3);transform:scale(2.5);
    transform-origin: right;
}